* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Raleway", sans-serif;
    color: #c8dce3;
    background-color: black;
    font-size: 14px;
}

h1 {
    font-size: 22px;
}

.texto {
    margin-bottom: 20px;
}

.iconos {
    background-color: #0ec9ec;
    color: white;
    text-align: center;
    font-size: 25px;
}

.card {
    background-color: #0ec9ec;
    color: white;
}